<!DOCTYPE html>
<html>
<head>
  <title>ReqMusic</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <div class="logo">Logo</div>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path, class: current_page?(root_path) ? 'active' : '' %></li>
      <li><%= link_to "Settings", settings_path, class: current_page?(settings_path) ? 'active' : '' %></li>
      <li><%= link_to "Sign up", sign_up_path, class: current_page?(sign_up_path) ? 'active' : '' %></li>
      <li><%= link_to "Sign in", sign_in_path, class: current_page?(sign_in_path) ? 'active' : '' %></li>
      <li><%= link_to "Logout", logout_path %></li>
    </ul>
  </nav>
</header>

<div class="content">
  <%= yield %>
</div>

</body>
</html>
